<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aapm.id.ac.uinsgd" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KelasActivity"
            android:label="@string/kelas" >
        </activity>
        <activity
            android:name=".MahasiswaActivity"
            android:label="@string/mhs" >
        </activity>
        <activity
            android:name=".MahasiswaKelasActivity"
            android:label="@string/mhskelas" >
        </activity>
        <activity
            android:name=".AbsensiActivity"
            android:label="@string/absen" >
        </activity>
        <activity
            android:name=".NilaiActivity"
            android:label="@string/nilai" >
        </activity>
        <activity
            android:name=".DaftarMahasiswaKelasAcitivity"
            android:label="@string/daftarMahasiswaKelas" >
        </activity>
        <activity
            android:name=".DaftarNilaiActivity"
            android:label="@string/daftarNilai" >
        </activity>
    </application>

</manifest>
